.openid.list-providers {
  .icon.loading {
    margin-top: 25px;
    display: block;
  }

  tr.disabled {
    font-color: #ccc;
  }
  #new-provider {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .ui-sortable {
    .order {
      width: 8px;

      .draghandle {
        display: inline-block;
        width: 8px;
        height: 100%;
        min-height: 24px;
        margin-bottom: -6px;
        background-image: url("images/bg-grippy.png");
        cursor: move;
      }
    }
  }
}

